<%- include("header") -%>
<div class="container">
    <button><a href="/"><i class="fas fa-home"></i></a></button>
    <div class="heading">
        <h2>This is about me</h2>
    </div>
    <div class="box">
        <p>I was born in Kielce. I studied in Warsaw. And I want to become a frontend developer!</p>
        <p>I did this "To do app" with Node.js, Express, EJS templating, and MongoDB.</p>
    </div>

</div>

<%- include("footer") -%>