* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #E4E9FD;
    background-image: linear-gradient(72deg, #84ddff 60%, #ddff84 40%);
    min-height: 100vh;
    font-family: 'helvetica neue';
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.title {
    margin: 20px auto;
    text-align: center;
    color: #ff84dd
}

.box, .heading {
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.box {
    background: white;
    margin-bottom: 5px
}

.heading {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #ff84dd;   
}

form {
    list-style: none;
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

li {
    list-style: none
}

li form button {
    margin: 5px;
}

li form button:hover+p {
    text-decoration: line-through;
    text-decoration-color: #ff84dd;
}

button {
    margin: 5px 5px 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #ff84dd;
    color: #fff;
    font-size: 30px;
    border-width: 0;
}

button:hover {
    cursor: pointer;
    background-color: #ff51cf;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

a {
    text-decoration: none;
    color: #00204a
}

button a {
    color: white
}

span a {
    color: #ff51cf
}
  
input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;

    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #84ddff;
}

::placeholder {
    color: grey;
    opacity: 1;
}

footer p {
    text-align: center
}
